.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 7rem 0;

  background: url('../assets/imgAboutUsBG.jpeg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.about {
  background-color: white;
  padding: 1.9rem;
}

.about div > h3 {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.6rem;

  color: var(--blueNavy-);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  
  color: var(--blueNavy-);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

  margin-top: 0.275rem;
  max-width: 25rem;
}

.infoContainer h4 {
  font-size: 1.5rem;
}

.info {
  text-align: start;
  line-height: 1.3rem;
  font-size: 0.9rem;
}

.info p {
  margin-top: 1rem;
}