.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.contactContainer h1 {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;

  color: var(--yellow-800);
}

.contact {
  display: flex;

  padding-top: 2rem;
}