.footerContainer {
  background-color: var(--blueNavy-);
  display: flex;
  justify-content: space-around;

  padding: 3rem 1rem;
}

.footerContainer .imgContainer {
  display: flex;
  align-items: center;
}

.imgContainer img {
  width: 9rem;
}

.footerContainer .contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  gap: 0.5rem;
}

.footerContainer .contactContainer button {
  text-decoration: none;
  background: transparent;
  border: 0;
  cursor: pointer;

  color: var(--white-);
  font-weight: bold;
  font-size: 16px;
}

.footerContainer .contactContainer button:hover {
  color: var(--black-);
}

.footerContainer .locationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerContainer .locationContainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerContainer .locationContainer ul li {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.footerContainer .openContainer {
  display: flex;
  justify-content: center;
}

.footerContainer .openContainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerContainer .openContainer ul li {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}