.header {
  width: 100%;
  height: 640px;
  background: url('../assets/luca-bravo-9l_326FISzk-unsplash.jpg') no-repeat;
  background-position: center center;
  background-size: cover;


  overflow: hidden;
  padding: 1.5rem 2.5rem;
  box-shadow: 1px 1px 6px 0px #41404080;
}

.contentLogoAndNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationContent .navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navigation a {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  
  text-decoration: none;
  color: var(--white-);
  
  border-radius: 3px;
  border: 0;
  padding: 0.275rem;
  
  transition: transform .1s ease;
}

.LinkBackGround {
  background-color: #57524E;
}

.navigation a:hover {
  transform: scale(1.1);
  outline: none;
  background-color: #57524E;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-top: 13rem;
}

.home > p {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;

  color: var(--white-);

  animation: effect- 1s;

  border-top: 0.1px solid var(--white-);
}

.homeContent {
  display: flex;
  gap: 0.3rem;

  color: var(--white-);
  
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  

  animation: effect 2s;
}

.homeContent span::before {
  content: "\2022";
  padding: 0 0.275rem;
  color: var(--yellow-300);
}

@keyframes effect {
  0% {
      opacity: 0;
      transform: translateX(50%);
  }

  100% {
      opacity: 1;
  }
 
}

@keyframes effect- {
  0% {
      opacity: 0;
      transform: translateX(-50%);
  }

  100% {
      opacity: 1;
  }
}



/* @keyframes animateBackground {
  0% {
      background-position: 0% 0%; 
  }
  100% {
      background-position: 100% 100%; 
  }
} */