.header {
  height: 100vh;

  overflow: hidden;

  position: relative;
  z-index: 0;
}

.header video {
  width: 100vw;
  height: 100vh;

  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.contentHeader {
  width: 100vw;
  height: 100vh;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header .contentHeader .contentLogoAndNav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
}

.navigationContent .navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  animation: effectTop 2s;
}

.navigation a {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  
  text-decoration: none;
  color: var(--offWhite-);
  
  border-radius: 3px;
  border: 0;
  padding: 0.275rem;
  
  transition: transform .1s ease;
}

.navigation button {
  background: transparent;
  border: 0;
  color: var(--offWhite-);
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;

  border-radius: 3px;
  border: 0;
  padding: 0.275rem;
  text-decoration: none;
  cursor: pointer;
}

.navigation button:hover {
  transform: scale(1.1);
  outline: none;
  background-color: var(--blueNavy-);
}

.navigation a:hover {
  transform: scale(1.1);
  outline: none;
  background-color: var(--blueNavy-);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-top: 15rem;
}

.homeContent {
  display: flex;
  justify-content: center;
  gap: 0.3rem;

  color: var(-offWhite-);
  
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;

  animation: effectBottom 2s;
}

.home > p {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;

  color: var(-offWhite-);

  border-top: 0.1px solid var(--white-);

  animation: effectBottomLeft 2s;
}

.homeContent span::before {
  content: "\2022";
  padding: 0 0.275rem;
  color: var(--offWhite-);
}

@keyframes effectBottom {
  0% {
      opacity: 0;
      transform: translateX(-50%);
  }

  100% {
      opacity: 1;
  }
 
}

@keyframes effectBottomLeft {
  0% {
      opacity: 0;
      transform: translateX(50%);
  }

  100% {
      opacity: 1;
  }
 
}

@keyframes effectTop {
  0% {
      opacity: 0;
      transform: translateY(-50%);
  }

  100% {
      opacity: 1;
  }
}