.contentLogoAndNav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
}

.navigationContent .navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  animation: effectTop 2s;
}

.navigation a {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  
  text-decoration: none;
  color: var(--offWhite-);
  
  border-radius: 3px;
  border: 0;
  padding: 0.275rem;
  
  transition: transform .1s ease;
}

.navigation button {
  background: transparent;
  border: 0;
  color: var(--offWhite-);
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  
  border-radius: 3px;
  border: 0;
  padding: 0.275rem;
  text-decoration: none;
  cursor: pointer;
}

.navigation button:hover {
  transform: scale(1.1);
  outline: none;
  background-color: var(--blueNavy-);
}

.navigation a:hover {
  transform: scale(1.1);
  outline: none;
  background-color: var(--blueNavy-);
}

@keyframes effectTop {
  0% {
      opacity: 0;
      transform: translateY(-50%);
  }

  100% {
      opacity: 1;
  }
}

@media (max-width: 768px) {
  .contentLogoAndNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
}

@media (max-width: 480px) {
  .navigation a {
    font-size: 1.2rem;
  }

  .navigation button {
    font-size: 1.2rem;
  }
}