.servicosContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;

  padding-top: 1rem;
  padding-bottom: 4rem;

  background: url('../assets/imgNosEscolherBG.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.servicosTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.7rem;
}

.servicosTop h3 {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;

  color: var(--black-);
}

.servicosTop p {
  font-family: "Poppins", sans-serif;
  /* font-style: normal; */
  font-weight: bold;

  font-size: 1.3rem;

  color: var(--blueNavy-);
}

.listServicos {
  display: grid;
  justify-content: center;

  grid-template-columns: 232px 232px 232px 232px;
  
  gap: 4rem;
}

.servicos {
  display: flex;
  flex-direction: column;
  height: 23.4rem;

  background-color: var(--offWhite-);
  padding: 0.4rem;

  border-radius: 8px;
  
  transition: transform .5s, scale 350ms ease, opacity 350ms linear;
}

.servicos:hover {
  transform: scale(1.1);
}
.listServicos:has(.servicos:hover) .servicos:not(.servicos:hover) {
  opacity: .6;
}

.servicos img {
  /* width: 221px; */
  width: 225px;
  object-fit: cover;
  border-radius: 8px;
}

.descricaoServicos {
  display: flex;
  align-items: center;

  gap: 0.5rem;

  margin-top: 1rem;
}

.descricaoServicos strong {
  color: var(--black-);
}

.servicos p {
  color: var(--blueNavy-);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;

  margin: 1rem 0;
}

@media (max-width: 1285px) {
  .listServicos {
    display: grid;
    grid-template-columns: 235px 235px 235px ;
  }
}

@media (max-width: 960px) {
  .listServicos {
    display: grid;
    grid-template-columns: 235px 235px;
  }
}

@media (max-width: 513px) {
  .listServicos {
    display: grid;
    grid-template-columns: 180px 180px;
  }

  .servicos img {
    /* width: 221px; */
    width: 170px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (max-width: 509px) {
  .servicosTop p {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .listServicos {
    display: grid;
    grid-template-columns: 140px 140px;
  }

  .servicos img {
    /* width: 221px; */
    width: 130px;
    object-fit: cover;
    border-radius: 8px;
  }

  .servicosTop p {
    font-size: 0.9rem;
  }
}