.utilities {
  padding: 0.5rem 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  gap: 2rem;

  background: url('../assets/bg-utilitie.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.utilities a {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: var(--offWhite-);

  text-decoration: none;
  
  transition: transform 0.2s ease-in-out
}

.utilities a:hover {
  transform: scale(1.1);
}

.utilities span::after {
  content: "\0399";
  color: var(--offWhite);
}