.whatsButton {
  background-color: #25D366;

  position: fixed;
  top: 90%;
  left: 95%;
  border-radius: 8px;
}

.whatsButton form button {
  border: 0;
  background: transparent;

  cursor: pointer;
  border-radius: 8px;

  padding: 0.1rem;
  transition: 0.2s;
}

.whatsButton form button:hover {
  background-color: #14853e;
  scale: 1.1;
}

@media (max-width: 1024px) {
  .whatsButton {
    top: 89%;
    left: 93%;
  }
}

@media (max-width: 726px) {
  .whatsButton {
    top: 87%;
    left: 90%;
  }
}

@media (max-width: 510px) {
  .whatsButton {
    top: 85%;
    left: 88%;
  }
}

@media (max-width: 430px) {
  .whatsButton {
    top: 87%;
    left: 83%;
  }
}

@media (max-width: 344px) {
  .whatsButton {
    top: 88%;
    left: 80%;
  }
}
