:root {
  --white-: #FFFFFF;

  --offWhite-: #F2F4F7;
  --black-: #020205;
  --blueNavy-: #111F4D;
  --laranja: #E43A19;

  --form: #cfd8e6;
}

/* :focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--yellow-500);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--offWhite-);
  color: var(--white-);
  -webkit-font-smoothing: antialiased;
}

body, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}